.menu-moblie {
    position: fixed;
    z-index: -1;
    opacity: 0;
    max-width: 1024px;
    width: 100vw;
    height: 0vh;
    background-color: #4DCFE5;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 30vw;
    padding-bottom: 5vw;
    overflow: hidden;

    .close-btn {
        position: absolute;
        top: 4vw;
        right: 4.5vw;

        img {
            width: 55px;

            @media all and (max-width:500px) {
                width: 8vw;
            }

            @media all and (max-width:280px) {
                width: 7vw;
            }
        }
    }

    .link-box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        padding-left: 15vw;

        a {
            display: flex;
            color: white;
            margin-bottom: 5vw;

            @media all and (max-width:500px) {
                margin-bottom: 7.5vw;
            }

            .link {
                display: flex;
                font-family: 'Cormorant Garamond';
                font-size: 5.5vw;
                letter-spacing: 0.3em;
                align-items: center;
                font-weight: 500;

                @media all and (max-width:500px) {
                    font-size: 6vw;
                }
            }

            .number {
                display: flex;
                font-family: 'Cormorant Garamond';
                font-size: 2.5vw;
                align-items: center;
                letter-spacing: 0.1em;
                margin-left: 10.5vw;

                @media all and (max-width:500px) {
                    font-size: 4vw;
                }
            }
        }

        .about-box {
            display: flex;
            flex-direction: column;

            .about-nohidden-box-moblie {
                display: flex;

                .about-text {
                    display: flex;
                    font-family: 'Cormorant Garamond';
                    font-size: 5.5vw;
                    letter-spacing: 0.3em;
                    align-items: center;
                    font-weight: 500;
                    color: white;

                    @media all and (max-width:500px) {
                        font-size: 6vw;
                    }
                }

                // b {
                //     border-color: #fff #4DCFE5 #4DCFE5;
                //     border-style: solid;
                //     border-width: 10px;
                //     position: relative;
                //     top: 10px;
                //     right: -0.3vw;

                // }

                .arrow {
                    display: flex;
                    width: 3.5vw;
                    margin-left: 0.5vw;

                    @media all and (max-width:500px) {
                        width: 4vw;
                        margin-left: 1vw;
                    }

                    img {
                        width: 100%;
                    }
                }

                .number {
                    display: flex;
                    font-family: 'Cormorant Garamond';
                    font-size: 2.5vw;
                    align-items: center;
                    letter-spacing: 0.1em;
                    margin-left: 5vw;
                    color: white;
                    font-weight: bolder;

                    @media all and (max-width:500px) {
                        font-size: 4vw;
                        margin-bottom: 1vw;
                    }
                }
            }

            .about-hidden-box-moblie {

                margin-top: 6vw;
                display: flex;
                flex-direction: column;
                text-align: left;
                margin-left: 3vw;
                padding-left: 4vw;
                border-left: 1px solid white;
                height: 17vw;
                font-family: 'Noto Serif TC', serif;
                letter-spacing: 0.2em;
                color: white;
                height: 17vw;

                z-index: 1;
                font-size: 4.2vw;
                margin-bottom: 7vw;

                .a-box {
                    display: flex;
                    flex-direction: column;


                    :nth-child(1) {

                        margin-bottom: 4vw;
                    }

                }

            }

        }

        .work-link {
            .number {
                margin-left: 10vw;

                @media all and (max-width:500px) {
                    margin-left: 14vw;
                }
            }
        }
    }

    .copyright-box {
        font-family: 'Noto Serif TC', serif;
        letter-spacing: 0.15em;
        color: white;
        display: flex;
        font-size: 2.5vw;
        justify-content: center;

        @media all and (max-width:500px) {
            font-size: 3vw;
        }
    }
}